.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(231, 231, 231);
}

.content__navigation {
    float: left;
    width: 150px;
    margin-top: 50px;
    margin-left: 50px;
    word-wrap: nowrap;
}

.content__navigation--image {
    display: flex;
    width: 25px;
    padding: 0;
    margin: 0;
}

.content__navigation--title {
    font-size: 15px;
    margin: 0 auto;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
    color: #FFF;
}

ol a {
    display: block;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    padding: 0 5px;
    color: black;
}

ol>li>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol>li>ul>li>a {
    color: black;
    display: flex;
    text-align: inline;
    padding: 8px;
    margin: 5px;
    background: none;
}

ol>li>ul>li:hover a {
    color: black;
    transform: scale(1.05);
    background: none;
    border: none;
}

.popup__content {
    background-color: white;
    display: block;
    position: absolute;
    width: 90%;
    list-style-type: none;
    font-family: 'Jura', sans-serif;
}

.popup__close {
    color: rgb(0, 0, 0);
    background: rgba(211, 228, 61, 0.637);
    padding: 7px;
    border: none;
    display: inline;
    justify-content: space-between;
    font-weight: bold;
    font-size: 13px;
}

.popup__close:hover {
    background: rgb(211, 228, 61);
    color: rgb(0, 0, 0);
    transform: scale(1.2);
}

.popup__article {
    text-decoration: none;
    color: black;
    background-color: rgba(211, 228, 61, 0.637);
    padding: 2px;
}

.popup__article:hover {
    text-decoration: none;
    color: black;
    background-color: rgba(211, 228, 61, 0.842);
    padding: 5px;
}

.popup__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 15px;
}

@media (max-width: 767px) {

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .content__sidebar {
        display: none;
    }

    .content__navigation--image {
        display: block;
        max-width: 20px;
        padding: 0;
        margin: 0;
    }

    ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 18px;
        text-align: center;
    }

    ol a {
        display: block;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    ol>li>ul {
        display: none;
    }

    ol>li:hover>ul {
        display: block;
        position: relative;
        height: auto;
    }

    ol>li>ul>li>a {
        border: none;
        background: none;
        color: black;
        display: flex;
        text-align: inline;
    }
}