.tile-content {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.tiles {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.tiles li {
    width: 300px;
    margin: 10px;
    background-color: rgb(248, 248, 248);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.tiles li:hover {
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
}

.list-content {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
}

.list-content:hover {
    transform: scale(1.05);
    background-color: rgb(255, 255, 255);
}

.list li {
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

ul {
    width: 100%;
    min-width: 400px;
}

.button__tile {
    color: rgb(0, 0, 0);
    background: rgba(211, 228, 61, 0.637);
    padding: 7px;
    border: none;
    float: right;
    font-weight: bold;
    margin: 5px;
    position: inline;
}

.button__tile:hover {
    background: rgb(211, 228, 61);
    color: rgb(0, 0, 0);
    transform: scale(1.2);
}

.button__list {
    color: rgb(0, 0, 0);
    background: rgba(211, 228, 61, 0.637);
    padding: 7px;
    border: none;
    float: right;
    font-weight: bold;
    margin: 5px;
    position: inline;
}

.button__list:hover {
    background: rgb(211, 228, 61);
    color: rgb(0, 0, 0);
    transform: scale(1.2);
}

.read__article {
    text-decoration: none;
    color: black;
    background-color: rgb(211, 228, 61);
}

.view-toggle {
margin-bottom: 50px;
}