html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  max-width: 90%;
  margin: 30px auto;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px 3px rgb(236, 236, 236);
}


.news {
  display: grid;
  grid-template-columns: auto;
}